
.keyboard{
  display:none;
}

.textBox{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 70%;
  padding-bottom: 15%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  position: relative;
  top: 30vh;
}

/* News */
.news {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  color: #000000;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.gig ul {
  list-style: none;
  display: flex;
}

.gig li {
  margin-right: 0.5rem;
  padding: 0.6rem;
}

.gig .tech span {
  color: var(--primary-color);
}
